<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Bem-vindo <%= name %>!</h1>
      <p>Faça o login usando uma das suas redes sociais:</p>
      <a type="button" class="btn btn-lg btn-default" href="/logout">
        <span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success text-center" role="alert">
      <%= data %>
    </div>
    <hr>
    <!-- row -->
  </div>


</body>

</html>
