<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Bem-vindo <%= name %>!</h1>
      <p>Faça o login usando uma das suas redes sociais:</p>
      <a type="button" class="btn btn-lg btn-default" href="/logout">
        <span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success text-center" role="alert">
      To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
          <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
        <ul>
          <li><a href="https://www.heroku.com/home">Heroku</a></li>
        </ul>
      </div>
    </div>
    <!-- row -->
  </div>


</body>

</html>
